.citacao-bio {

    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

.citacao-bio:nth-of-type(odd){
    float: right;
    margin-right: 0;
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:hover{
    box-shadow: 0px 0px 0px 9999px rgba(0,0,0, 0.8);
}

.citacao-bio:nth-of-type(odd):hover{
    transform: translate(-10%,-10%) rotate(5deg) scale(1.2);

}

.citacao-bio:nth-of-type(even):hover{
    transform: translate(-10%,-10%) rotate(-5deg) scale(1.2);
}

.citacao-bio:focus{
    box-shadow: 0px 0px 0px 9999px rgba(0,0,0, 0.8);
}

.citacao-bio:nth-of-type(odd):focus{
    transform: translate(-10%,-10%) rotate(5deg) scale(1.2);

}

.citacao-bio:nth-of-type(even):focus{
    transform: translate(-10%,-10%) rotate(-5deg) scale(1.2);
}
