.titulo-legenda{
    font-weight:bold;
    padding: 10px 0;
    margin-top:1em;
}

.seletores-assuntos{
    position: relative;
}
.outro-assunto {
    position: absolute;
    top:64%;
    left:21%;
}
.input-outro-assunto{

    border: 2px solid lightgray;
    font-family:"Crimson Text", "Times New Roman", serif;
    width:50%;
    right:15%;
    height: 2em;
}


.campo-de-preenchimento {
    width:100%;
    border: 2px solid lightgray;
    font-family:"Crimson Text", "Times New Roman", serif;
    padding: 2px;
}

input:focus, textarea:focus{
    background-color:lightyellow;
}



input:invalid{
    box-shadow: 1px 1px 1px  red;
}

button{
    float:right;
    
    background-color: #3C1D3D;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    
    font-size: 1em;
    color: #F2FFFC;
    height: 3em;
    width: 11em;
    border: 0;
    margin-top:.5em;
    box-sizing: content-box;
    padding: 1px;
    
}

button:hover{
    background-color: #8C1D3D;
}

input[value="Outro"] ~ input{
    display: none;
}


input[value="Outro"]:checked ~ input{
    display: inline;
}


label[for="nome"]{
    position:relative;
}

label[for="nome"]:before{
    content: "";
    background-image: url(../imagens/usuario.png);
    background-color: #666;
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    top: 120%;
    left:0;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    
}

#nome{
    width: calc(100% - 2em);
    position: relative;
    left: 2em;
}

label[for="e-mail"]{
    position: relative;
}

label[for="e-mail"]:before{
    content: "";
    background-image: url(../imagens/email.png);
    background-color: #666;
    background-size: 50% 50%;
    background-repeat:no-repeat;
    background-position: center;
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    top:120%;
    left: 0;
    
}

#e-mail{
    width: calc(100% - 2em);
    position: relative;
    left: 2em;
}
